#webpageTitle { 
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-top: thick solid black;
	background-color: lightgreen;
	border-bottom: thick solid black;
	border-left: thick solid black;
	border-right: thick solid black;
	border-width: 2px;
	color: blue;
	text-align: center;
	text-decoration: underline;
	font-variant: small-caps;
}

#webpageSubtitle{
	
	margin-left: 15px;
	border-top: none;
	border-bottom: thick solid black;
	border-width: 1px;
	color: blue;
	width: 450px;
	
	}
	
#sectionSubtitle{
	
	margin-left: 15px;
	border-width: 1px;
	color: blue;
	width: 450px;
	text-decoration: underline;
	}
	
#loginPart{
	
	padding-top: 5px;
	padding-left: 10px;
	background-color: lightgreen;
	border: 2px solid black;
	max-width: 500px;
	margin: auto;
	
	}
#ProjectList{
	margin-top: 10px;
	margin-left: 10px;
	border: 2px solid black;
	width: 300px;
	}

.sections{
	margin-left: 25px;
	margin-right: 25px;
	background-color: lightgreen;
	float: left;
	border: solid black;
	width: 300px;
}	
.search{
	float: right;
}
.info{
	float: right;
	text-align: center;
	background-color: lightgreen;
	border: solid black;
	width: 300px;
}	
.error {
	color: red;
		}
		
td.label {
	text-align: right;
		}
table{
	border-collapse: collapse;
}
th, td{
	border-right: 1px solid black;
}
