
*{margin:0px; padding: 0px;}
body{background: white;
min-width: 1200px;
background-image: url("YCP.png");
-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;


}
#header{
	
    width: 100%;
	height: 100px;
	background: #028C52;
	border: 2px solid black;
	
	
	}
#logo{
	width: auto;
	height: auto;
	float: left;
	padding-left: 20px;
	
}
#navbar{
	width: 880px;
	height: 100px;
	float: right;
	
	
	
	
	
}
#navbar>li{
	list-style: none;
	float: left;
	width: 175px;
	border-left: 1px solid black;
	border right: 2px solid black;
		
}
label>a{
	font-family: cursive;
	
	
}
div.superContainer{
	width: 800px;
	height: 600px;
	border: 2px solid #ccc;
	padding: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -400px;
	background-color: #fff;
	padding: 10px;
	
	
}
textarea.description{
	resize: none;
	width:795px;
	height: 125px;
}
li>a{
	display:block;
	color:black;
	line-height:100px;
	text-align: center;
	font-family: cursive;
	font-size: 20px;
	text-decoration: none;
}
li>a:hover{
	background-color: white;
    color: black;
	cursor: pointer;
}




.button {
    background-color: #028C52; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: Comic Sans;
    align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button5 {
    background-color: #028C52;
    color: white;
    border: 2px solid black;
	float: right;
	margin-right: 20px;
	cursor: pointer;
	
}

.button5:hover {
    background-color: white;
    color: black;
}